<script>
$( init );

function init() {
	
	jQuery.ajaxSetup({ 
	  'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
	})

	jQuery.fn.submitWithAjax = function() {
	  this.submit(function() {
	    $.post(this.action, $(this).serialize(), null, "script");
	    return false;
	  })
	  return this;
	};
	
	$("#thumbnail").droppable({
        drop: function( event, ui ) {
            thumbnailImage( ui.draggable );
        }
	});
	
	$("#upload").droppable({
		drop: function( event, ui ) {
			addToGallery( ui.draggable );
		}
	});
}

function addToGallery ($item){
	$.ajax("images/"+$item.attr('id') + "/add");
}


function thumbnailImage ($item) {	
	var $list = $("#thumbnail")
	$list.empty();
	jQuery('#article_thumbnail_id').val($item.attr("id"));
	$.ajax("images/"+ $item.attr('id') + "/thumbnail")
}

function remove_fields(link) {
  $(link).prev("input[type=hidden]").val("1");
  $(link).closest(".draggable").hide();
}

function add_fields(link, association, content) {
  var new_id = new Date().getTime();
  var regexp = new RegExp("new_" + association, "g")
  $(link).parent().before(content.replace(regexp, new_id));
}

</script>

<style>
.draggable { list-style-type: none; margin: 10px; padding: 0; margin-right: 10px; background: #eee; padding: 1px}

#thumbnail { list-style-type: none; margin: 10px; padding: 0; margin-right: 10px; background: #eee; padding: 5px; width: 304px; height:240px}

#upload { height: 150px; width: 150px; background: #eee; padding: 10px; margin: 10px }
</style>

<%= form_for(@article) do |f| %>
	<% if @article.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<div id="thumbnail">
		<% unless @article.thumbnail_id.nil? then %>
			<%= image_submit_tag (@article.thumbnail), :name => 'save' %>
		<% else %>
			<%= image_tag "no-image.jpg"%>
		<% end %>
	</div>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</div>

	<div class="field">
		<%= f.label :category %><br />
		<%= f.text_area :category %>
	</div>
	
	<div class="field">
		<%= f.label "Frontpage?" %>
		<%= f.check_box :frontpage %>
	</div>
	
	<div class="field">
		<%= f.label "Visible?" %>
		<%= f.check_box :visible %>
	</div>
	
	<div id="gallery">
	<% for image in @article.images %>
			<% unless image.id.nil? %>
				<%= image_tag image.photo.url(:small), :class => "draggable", :id => image.id %>
				<%= link_to image_tag('delete.png', :width => "15px", :height => "15px"), article_image_remove_path(@article.id, image.id), :remote => true, :class => 'delete_post' %>
			<% end %>
	<% end %>
	</div>
	
	<div id="upload">
		Drop Here to Upload!
	</div>
	
	<%= render 'images/gallery' %>
	
	<!-- <div class="upload">
	<%= f.fields_for :images do |builder| %>
		<%= render 'images/upload', :f => builder%>
	<% end %>
	</div> //-->
	
	<%= f.hidden_field :thumbnail_id %>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

