<script>
$( init );

function init() {
	$(".draggable").draggable({
		helper: "clone"
	});
	
	$("#thumbnail").droppable({
        drop: function( event, ui ) {
            deleteImage( ui.draggable );
        }
	});
}

function deleteImage ($item) {	
    var $list = $( "ul", "#thumbnail" ).length ? $( "ul", "#thumbnail" ) : $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( "#thumbnail" );

	$list.empty();
	$item.clone().appendTo($list).fadeIn();
	
	jQuery('#article_thumbnail_id').val($item.find("a").attr("id"));
}

function remove_fields(link) {
  $(link).prev("input[type=hidden]").val("1");
  $(link).closest(".fields").hide();
}

function add_fields(link, association, content) {
  var new_id = new Date().getTime();
  var regexp = new RegExp("new_" + association, "g")
  $(link).parent().before(content.replace(regexp, new_id));
}
</script>

<style>
.draggable, #thumbnail { list-style-type: none; margin: 10px; padding: 0; margin-right: 10px; background: #eee; padding: 5px; width: auto; height: 100px}
</style>

<%= form_for(@article) do |f| %>
	<% if @article.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</div>

	<div class="field">
		<%= f.label :category %><br />
		<%= collection_select(:article, :category, Category.all, :id, :category) %>	
	</div>
	
	<div class="field">
		<%= f.label "Frontpage?" %>
		<%= f.check_box :frontpage %>
	</div>
	
	<div class="field">
		<%= f.label "Visible?" %>
		<%= f.check_box :visible %>
	</div>
	
	<p><%= link_to_add_fields "Add Image", f, :images %></p>
	<ul>
	<% for image in @article.images %>
		<li class="draggable">
			<%= link_to image_tag (image.photo.url(:thumbnail)), edit_image_path(image), :id => image.id %>
		</li>
	<% end %>
	</ul>
	
	<div class="field" id='thumbnail'>
	<ul>
		<li><%= image_tag (@article.thumbnail) %></li>
	</ul>
	</div>
	<%= f.hidden_field :thumbnail_id %>
	
	<div class="actions">
		<%= f.submit %>
	</div>
	

<% end %>

