<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Frontpage?</th>
    <th>Visible?</th>
	<th></th>
<<<<<<< HEAD
	<% if can? :update, @article %>
    	<th></th>
		<th></th>
	<% end %>
=======
	
	
	<% if can? :update, @article %>
		<th></th>
		<th></th>
	<% end %>

>>>>>>> Rails3.1Update
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.content %></td>
	<td><%= check_box_tag article.frontpage, article.frontpage, if article.frontpage == true then true end, :disabled => true %></td>
	<td><%= check_box_tag article.visible, article.visible, if article.visible == true then true end, :disabled => true %></td>
    <td><%= link_to 'Show', article %></td>
	<% if can? :update, @article %>
    	<td><%= link_to 'Edit', edit_article_path(article) %></td>
    	<td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
