<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Frontpage?</th>
    <th>Visible?</th>
	<th></th>
	<% if can? :update, @articles %>
    	<th></th>
		<th></th>
	<% end %>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= link_to (article.name), category_path(article.category, article.id) %></td>
    <td><%= raw article.content %></td>
	<td><%= check_box_tag article.frontpage, article.frontpage, if article.frontpage == true then true end, :disabled => true %></td>
	<td><%= check_box_tag article.visible, article.visible, if article.visible == true then true end, :disabled => true %></td>
	<% if can? :update, @articles %>
    	<td><%= link_to 'Edit', edit_article_path(article) %></td>
    	<td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
