<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <div id="article_title" class="mercury-region" data-type="editable">
  <%= raw @article.name %>
  </div>
</p>

<p>
  <b>Content:</b>
  <div id="article_content" class="mercury-region" data-type="editable">
  	<%= raw @article.content %>
	</div>
</p>

<p>
  <b>Category:</b>
  <%= @article.category %>
</p>

<p>Thumbnail!</p>
<%= image_tag @article.thumbnail %>


<% for image in @article.images %>
	<div id='cropwrap'>
  		<%= image_tag image.photo.url(:medium), :id => 'cropimage' %>	
	</div>
<% end %>

<%= link_to "Edit", "/editor" + request.path, :id => "edit_link", :data => {:save_url => mercury_update_article_path(@article)} %>
<%= link_to 'Back', articles_path %>
