<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.sign_in_count %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_sign_in_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_sign_in_at %>
</p>
<%= link_to 'Edit', edit_profile_path %>