<!DOCTYPE html>
<html lang="no">
<head>
	<title><%= title %></title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "slideshow" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://malsup.github.com/chili-1.7.pack.js"></script>
	<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
	<script type="text/javascript" src="http://malsup.github.com/jquery.easing.1.3.js"></script>

	<%= javascript_include_tag "jcarousellite_1.0.1" %>

	<script type="text/javascript">

	$(document).ready(function(){

		$mainmenu = $('ul#navbar');
		$submenu = $('ul#navbar li:has("ul")');

		//Find the length of the navbar
		var menuItems = ($("ul#navbar a").length - $("ul#navbar li ul a").length);

		//Find the number of elements in the main menu
		var totalwidth = 0;

		//Calculate the total width of each element
		$('ul#navbar li').each(function(){
			totalwidth += $(this).width();					
		});


		//Calculate the required padding
		var requiredPadding = Math.floor(($mainmenu.width() - totalwidth)/(menuItems) / 2);

		var roundingErrorFix = $mainmenu.width()-((requiredPadding*menuItems*2)+totalwidth);

		$('ul#navbar li a').each(function(i) {
	    if(i==0) {
	        $(this).css('padding-left',requiredPadding+roundingErrorFix/2+'px')
	            .css('padding-right',requiredPadding+roundingErrorFix/2+'px');
	    }
	    else {
	        $(this).css('padding-left',requiredPadding+'px')
	            .css('padding-right',requiredPadding+'px');
	    	}
		});

		$submenu.each(function(){
			// Find difference between main menu and sub menu width
			// Add difference to submenu width
			$(this).find('.submenu').css('width',$(this).outerWidth(true)+'px');
		})

		//$("#feature").css("overflow", "hidden");
	    $("#feature-nav").css("visibility", "visible");
	    $("#feature-nav a[href=#1]").addClass("active");

		$('#feature').after('<nav id="feature-nav">').cycle({
	        fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
			speed: 3000,
			timeout: 3000,
			pager: '#feature-nav',
			before: function() { if (window.console) console.log(this.src); }
	    });

	    $("#feature-nav a").click(function(){
	        $("#feature-nav a").removeClass("activeSlide");
	        $(this).addClass("activeSlide");

	    });
	});
</script>

</head>
<body>
	<%= render 'layouts/header' %>
		<section>
			<%= yield %>
		</section>
	<%= render 'layouts/footer' %>
</body>
</html>
