<!DOCTYPE html>
<html lang="no">
<head>
	<title><%= title %></title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<article role="main">
			<%= yield %>
		</article>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
